.btn{
    background-color: black;
    color: darkviolet;
    text-shadow: 1px black;
    border-color: darkviolet;
    width: 250px;
    font-size: 30px;
}

a{
    margin-right: 2%;
    margin-bottom: 2%;
}

a:hover{
    color: white;
    background-color: darkviolet
}

.btn:focus{
    background-color: darkviolet;
}

h1{
    color: darkviolet;
    margin: auto;
    text-align: center;
}
