body{
  display: flex;
}
#colorsContainer{
  flex-grow: 1;
  margin-left: 3%;
  margin-top: 2%;
}

#artistContainer{
  width: 50%;
  margin-left: 5%;
  margin-top: 2%;
  align-items: center;
}

h3{
  color: white;
  margin-bottom: 2%;
}

#usefulButton{
  margin-left: 40%;
  position: absolute;
  bottom: 10px;
  background-color: black;
  color: white;
  text-shadow: 1px black;
  border-color: darkviolet;
  width: 240px;
  font-size: 25px;
}

#usefulButton:focus{
  background-color: darkviolet;
}

#painting{
  max-width: 300px;
  max-height: 300px;
}

body {
    background-color: black;
}

#questions {
    background-color: black;
}

ul {
    justify-content: center;
}

.colorDiv{
  width: 350px;
  height: 50px;
  color: black;
}

.logo {
  width: 10%;
  top: 2.5%;
  right: 2.5%;

}

  .choices {
    /* margin: 10px 0 0 0; */
    padding: 10px;
  }
  
  .choices li {
    display: inline-block;
    margin: 0 10px 20px 0;
    height: 40px;
    position: relative;
  }
  
  .choices label,
  .choices input {
    display: flex;
    white-space: nowrap;
    position: relative;
    word-break: break-all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
  }
  
  .choices input[type="radio"] {
    opacity: 0;
    z-index: 100;
  }
  
  .choices input[type="radio"]:checked+label,
  .Checked+label {
    background: #9400D3;
    color: white;
  }
  
  .choices label {
    padding: 10px;
    border: 1px solid darkviolet;
    cursor: pointer;
    z-index: 90;
    text-align: center;
    color: darkviolet;
  }
  
  .choices label:hover {
    background: darkviolet;
    color: white;
  }