body {
    /* background-color: #59B9EA; */
    background-color: black;
}

#home {
    height: 100vh;
}

.logo {
    max-height: 30%;
    left: -20px;
    top: -20px;
    transform: rotate(-15deg);
}
